absl-py==2.1.0
astunparse==1.6.3
certifi==2024.8.30
charset-normalizer==3.3.2
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
grpcio==1.66.1
h5py==3.11.0
idna==3.10
keras==3.5.0
libclang==18.1.1
Markdown==3.7
numpy==1.26.4
opencv-python==4.10.0.84
opt-einsum==3.4.0
packaging==24.1
pandas==2.2.3
pillow==10.4.0
protobuf==4.25.5
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
tensorboard==2.17.1
tensorflow==2.17.0
...